@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
  color: var(--White);
  font-family: 'Overpass', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--VeryDarkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 400px;
  height: 420px;
  background-color: var(--DarkBlue);
  border-radius: 2rem;
  padding: 2rem;
}

.img-container {
  display: inline-block;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 2.6rem;
  background-color: hsla(213, 20%, 34%, 0.438);
}

.main-container h1 {
  margin: 2rem 0 1rem 0;
  font-size: 1.7rem;
}

.main-container p {
  color: var(--LightGrey);
  font-weight: 700;
  text-align: justify;
  margin-right: 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

ul li {
  background-color: hsla(213, 20%, 34%, 0.438);
  color: var(--LightGrey);
  font-weight: 700;
  padding: 0.8rem;
  border-radius: 50%;
  width: 2.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

ul li:hover {
  background-color: var(--LightGrey);
  color: var(--White);
}

.submit {
  background-color: var(--White);
  color: var(--orange);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 100%;
  padding: 0.7rem 0;
  border: none;
  border-radius: 1rem;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
