.App {
  text-align: center;
}

input {
  margin: 10px;
  width: 300px;
  height: 40px;
  font-size: 1rem;
  padding-left: 1rem;
}

button {
  width: 100px;
  height: 40px;
}

li {
  list-style-type: none;
  width: 300px;
  height: 40px;
  margin: 10px;
  padding-top: 20px;
  font-size: 23px;
  background-color: #00df6c;
  font-family: monospace;
}

ul {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItems {
  display: flex;
  align-items: center;
}

.listItems button {
  background-color: rgb(238, 89, 89);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: monospace;
}

.listItems .complete {
  background-color: rgb(216, 164, 67);
  margin: 1rem;
}
